.leaflet-container {
	width: 50%;
	height: 50vh;
}

.leaflet-div-icon {
	background: transparent;
	border: none;
}

.leaflet-container {
	height: 100%;
	width: 100%;
}

.container {
	display: flex;
	flex-direction: row;
}

.column-1 {
	width: 40%;
	height: 100vh;
	margin: 5px;
	padding: 5px;
}

.column-2 {
	width: 60%;
	margin: 0;
	padding: 0;
}

#logo {
	display: block;
    margin: 5px auto 18px;
}