@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
	box-sizing: border-box;
}

html {
	font-family: 'Noto Sans JP', sans-serif;
}

body {
	margin: 0;
	background-color: #fcd469;
	color: #292e34;
	padding: 0;
}

table {
	width: 100%;
	border-collapse: collapse;
}
td {
	padding:5px;
}

tr:nth-child(odd) {
	background-color: #ffc524;
}
